/* LAYOUT */

// DISPLAY
.dF {
	@include flex;
}

.dIF {
	@include flex($d: inline-flex);
}

.dB {
	display: block;
}

.dIB {
	display: inline-block;
}

// POSITION
.pR {
	position: relative;
}

.pA {
	position: absolute;
}

// FLEX
.jcC {
	justify-content: center;
}

.jcFS {
	justify-content: flex-start;
}

.jcFE {
	justify-content: flex-end;
}

.jcEv {
	justify-content: space-evenly;
}

.aiFS {
	align-items: flex-start;
	align-content: flex-start;
}

.aiC {
	align-items: center;
	align-content: center;
}

// FLEX ITEM
@for $var from 1 to 3 {
	.fG#{$var} {
		flex-grow: $var;
		max-width: 100%;
	}
}

@include mq(mob) {
	.jcMC {
		justify-content: center;
	}

	.jcMFS {
		justify-content: flex-start;
	}

	.jcMFE {
		justify-content: flex-end;
	}

	.aiMFS {
		align-items: flex-start;
		align-content: flex-start;
	}

	.aiMC {
		align-items: center;
		align-content: center;
	}
}

// SIZES
@for $i from 0 through 20 {
	$max: $i * 50;
	$percentage: $i * 5;
	$percentageValue: $percentage * 1%;

	.w#{$percentage} {
		width: #{$percentageValue};
	}

	.max#{$max} {
		max-width: #{$max}px;
	}
}

// MARGIN AND PADDINGS
@for $i from 0 through 20 {
	$value: $i * 5;

	// Margin
	.m#{$value} {
		margin: #{$value}px;
	}

	.mt#{$value} {
		margin-top: #{$value}px;
	}

	.mb#{$value} {
		margin-bottom: #{$value}px;
	}

	.mr#{$value} {
		margin-right: #{$value}px;
	}

	.ml#{$value} {
		margin-left: #{$value}px;
	}

	// Padding
	.p#{$value} {
		padding: #{$value}px;
	}

	.pt#{$value} {
		padding-top: #{$value}px;
	}

	.pb#{$value} {
		padding-bottom: #{$value}px;
	}

	.pr#{$value} {
		padding-right: #{$value}px;
	}

	.pl#{$value} {
		padding-left: #{$value}px;
	}
}

@include mq(mob) {
	@for $i from 0 through 20 {
		$value: $i * 5;

		// Margins
		.mM#{$value} {
			margin: #{$value}px;
		}

		.mtM#{$value} {
			margin-top: #{$value}px;
		}

		.mbM#{$value} {
			margin-bottom: #{$value}px;
		}

		.mlM#{$value} {
			margin-left: #{$value}px;
		}

		.mrM#{$value} {
			margin-right: #{$value}px;
		}

		// Paddings
		.pM#{$value} {
			padding: #{$value}px;
		}

		.ptM#{$value} {
			padding-top: #{$value}px;
		}

		.pbM#{$value} {
			padding-bottom: #{$value}px;
		}

		.plM#{$value} {
			padding-left: #{$value}px;
		}

		.prM#{$value} {
			padding-right: #{$value}px;
		}
	}
}

.mtA {
	margin-top: auto;
}

.mlA {
	margin-left: auto;
}

.mrA {
	margin-right: auto;
}

.mbA {
	margin-bottom: auto;
}

@include mq(mob) {
	.mtMA {
		margin-top: auto;
	}

	.mlMA {
		margin-left: auto;
	}

	.mrMA {
		margin-right: auto;
	}

	.mbMA {
		margin-bottom: auto;
	}
}
