/* VARIABLES */

// THEME COLORS
$rootColors: (
	"blue": #377DFF,
	"blue-dark": #003CA5,
	"blue-ultra-dark": #001E5A,
	"yellow": #FFEB00,
	"orange": #FFCD00,
	"orange-medium": #FFBE3D,
	"green": #77B82A
);

// ROOT
:root {
	// COLORS
	--color-black: #000;
	--color-white: #fff;
	--color-red: #ff0000;

	// ROOT COLORS
	@each $name, $base in $rootColors {
		$keyname: "--color-" + $name;
		#{$keyname}: #{$base};
	}
}

// WIDTH
$widthLimit: 1200px;

// COLORS
$black: var(--color-black);
$white: var(--color-white);
$red: var(--color-red);

// ROOT COLORS
$blue: var(--color-blue);
$blue-dark: var(--color-blue-dark);
$blue-ultra-dark: var(--color-blue-ultra-dark);
$yellow: var(--color-yellow);
$orange: var(--color-orange);
$orange-medium: var(--color-orange-medium);
$green: var(--color-green);

// FORMS
$wrong: $red;

// LOADER
$bgLoader: $black;
$strokeLoader: $white;

$widthLoader: 100px;

// GLOBAL FONTS
$ftRegular: Arial, Helvetica, sans-serif;

$fontFamily: $interReg;
$baseFont: 16;
