/* MEDIAQUERIES */

$mediaXMobile: "only screen and (max-width : 480px)";
$mediaMobile: "only screen and (max-width : 767px)";
$mediaTablet: "only screen and (max-width : 991px)";
$mediaLaptop: "only screen and (max-width : 1367px)";
$mediaDesktop: "only screen and (max-width : 1199px)";

$mediaXS: "only screen and (max-width : 479px)";
$mediaSM: "only screen and (min-width : 480px) and (max-width: 767px)";
$mediaMD: "only screen and (min-width : 768px) and (max-width: 991px)";
$mediaLG: "only screen and (min-width : 992px) and (max-width: 1199px)";
$mediaXL: "only screen and (min-width : 1200px)";

$mediaqueries: (
    hover: "(hover: hover)",
    ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)",
    safari: "screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)",
    safari2: "not all and (min-resolution:.001dpcm)",
    mobS4: 280,
    mobS3: 360,
    mobS2: 480,
    mobS: 640,
    mob: 767,
    tabS: 820,
    tab: 991,
    lapS3: 1024,
    lapS2: 1199,
    lapS: 1280,
    lap: 1367,
    deskS: 1440,
    desk: 1560,
    deskB: 1680,
);
