/* BUTTONS */

.how-to-play-btn {
    border: none;
    background: none;
    color: $white;
    display: block;
    font-family: $ftSTDCondensedBold;
    font-size: 24px;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::before {
        content: "";
        height: 35px;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;

        @include bg('icons/icon_d-arrow-down.svg');
    }
}

.btn, button {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.btn-theme {
    display: inline-block;
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: $blue-dark;
    font-family: $interExtraBold;
    margin: 4px auto;
    max-width: 270px;
    outline: none;
    padding: 15px 30px;
    width: 100%;


    &--reg {
        font-family: $interReg;
    }

    // COLORS
    &--transparent {
        background-color: transparent;
        color: $yellow;
    }
    &--line {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
    }

    // SIZES
    &--small {
        font-size: 16px;
        padding: 9px 20px;
    }
}

.group-btn {
    text-align: center;
}